@use '../../scss/sizes.scss' as *;
#map { 
  height:  100vh; 
  position:absolute;
  right:0;
  top:0;
  bottom:0;

  .leaflet-container,
  .leaflet-control {
    font-family: 'Inconsolata', monospace !important;
  }
  
  @include tablet{
    &.nonactive{
        width: 100%;
        width: calc(100%);
        width: -moz-calc(100%);
        width: -webkit-calc(100%);
    }

  }
  @include desktop{
    &.nonactive{
      width: 100%;
      width: calc(100%);
      width: -moz-calc(100%);
      width: -webkit-calc(100%);
    } 
  }
}

// Layer Manger
.layer-manager-panel {
  position: absolute;
  top: 55px;
  right: 0;
  min-width: 270px;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9000 !important;
}

.layer-manager-panel.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

/* Opcional: estilos para el botón */
.layer-manager-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-manager-btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px #e2e3e5;
}

